/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}
#wrapper > div {
    flex-grow: 1;
}
 #wrapper > div:nth-of-type(2) {
     text-align: center;
 }
 #wrapper > div:nth-of-type(3) {
     text-align: right;
 }

label {
    cursor: pointer;
}
